<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="control btn-back">
          <a th:href="${'/cities'}">
            <button class="button is-light">Back</button>
          </a>
        </div>

        <h2>City</h2>
        <table class="table is-bordered is-striped is-fullwidth">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Region</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td th:text="${city.region}"></td>
          </tr>
          </tbody>
        </table>

        <h2>Specialities</h2>
        <table class="table is-bordered is-striped is-fullwidth">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="speciality : ${specialities}">
            <tr>
              <td th:text="${speciality.id}"></td>
              <td th:text="${speciality.name}"></td>
              <td th:text="${speciality.type}"></td>
            </tr>
          </th:block>
          </tbody>
        </table>

      </div>
    </div>
  </section>
</div>

</html>
