<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
    <section class="section">
        <div class="columns">
            <div class="column">
                <form action="cities" method="get">
                    <fieldset>
                        <legend>Search By Region And Numbers of Ingredients</legend>
                        <br>
                        <div class="field">
                            <label class="label">Region</label>
                            <input class="input small-input" name="cityRegion" th:value="${cityRegion}" type="text">
                        </div>
                        <div class="field">
                            <label class="label">Number Of Ingredients</label>
                            <input class="input small-input" name="numberOfIngredients" th:value="${numberOfIngredients}" type="number">
                        </div>
                        <button class="button is-danger">Search</button>
                    </fieldset>
                </form>
            </div>
            <div class="column">
                <a th:href="${'/cities/add'}">
                    <button class="button is-pulled-right is-primary">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
                        <span>Add</span>
                    </button>
                </a>
            </div>
        </div>

        <table class="table is-bordered is-striped is-fullwidth">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Region</th>
                <th class="col-actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="city : ${cities}">
                <tr>
                    <td th:text="${city.id}"></td>
                    <td th:text="${city.name}"></td>
                    <td th:text="${city.region}"></td>
                    <td class="col-actions-td">
                        <a th:href="@{'/cities/details/' + ${city.id}}">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
                        </a>
                        <a th:href="@{'/cities/edit/' + ${city.id}}">
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
                        </a>
                        <a th:href="@{'/cities/delete/' + ${city.id}}">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
</th:block>

</html>
