<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="control btn-back">
          <a th:href="${'/cities'}">
            <button class="button is-light">Back</button>
          </a>
        </div>
        <form action="/cities/save" method="post" th:object="${city}">
          <input type="hidden" th:field="*{id}">

          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
              <input class="input" id="name"
                     th:field="*{name}" type="text" placeholder="City name">
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

          <div class="field">
            <label for="region" class="label">Region</label>
            <div class="control">
              <input class="input" id="region" th:field="*{region}" type="text"
                     placeholder="Region name">
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{region}"
               th:if="${#fields.hasErrors('region')}"></p>
          </div>

          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

</html>