.brand > .background {
  background-color: #ff0000a3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 8px;
  z-index: -1;
}

.hero.is-fullheight {
  min-height: calc(100vh - 52px);
}

.col-name {
  width: 20%;
}

.col-actions {
  width: 10%;
}

.is-active {
  font-weight: bold;
}

.btn-back {
  text-align: end;
  margin-bottom: 8px;
}

.small-input {
  width: auto;
}
