<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
  <div class="section">
    <h1 class="title">Error</h1>
    <h3 class="subtitle" th:text="${errorMsg}"></h3>
    <a th:href="@{/}">
      <button class="button">Back to Home</button>
    </a>
  </div>
</th:block>
</html>