<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column">
        <form action="foods" method="get">
          <fieldset>
            <legend>Search By City Name</legend>
            <br>
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                <input class="input" name="cityName" th:value="${cityName}" type="text">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-danger">Search</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="column">
        <a th:href="@{'/foods/add'}">
          <button class="button is-pulled-right is-primary">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add</span>
          </button>
        </a>
      </div>
    </div>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th class="col-name">Name</th>
        <th>Description</th>
        <th>Variants</th>
        <th class="col-actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="food : ${foods}">
        <tr>
          <td th:text="${food.id}"></td>
          <td th:text="${food.name}"></td>
          <td th:text="${food.description}"></td>
          <td th:text="${#strings.listJoin(food.variants.![name], ', ')}">
          <td>
            <a th:href="@{'/foods/details/' + ${food.id}}">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
            </a>
            <a th:href="@{'/foods/edit/' + ${food.id}}">
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
            </a>
            <a th:href="@{'/foods/delete/' + ${food.id}}">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </section>
</th:block>

</html>
