<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="control btn-back">
          <a th:href="${'/foods'}">
            <button class="button is-light">Back</button>
          </a>
        </div>
        <form action="/foods/save" method="post" th:object="${food}">
          <input th:field="*{id}" type="hidden">

          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
              <input class="input" id="name" placeholder="Food name" th:field="*{name}" type="text">
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

          <div class="field">
            <label for="description" class="label">Description</label>
            <div class="control">
              <textarea
                  id="description"
                  class="textarea"
                  placeholder="Food description"
                  th:field="*{description}">
              </textarea>
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{description}"
               th:if="${#fields.hasErrors('description')}"></p>
          </div>

          <div class="field">
            <label for="original" class="label">Variant Of</label>
            <div class="control">
              <div class="select">
                <select id="original" th:field="*{original}">
                  <option selected th:value="null">None</option>
                  <option th:each="food : ${foods}"
                          th:text="${food.name}"
                          th:value="${food.id}">
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="cities" class="label">Cities</label>

            <div class="control">
              <div class="select is-multiple">
                <select multiple id="cities" th:field="*{cities}">
                  <option th:each="city : ${_cities}"
                          th:text="${city.name}"
                          th:value="${city.id}">
                  </option>
                </select>
              </div>
            </div>

            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{cities}"
               th:if="${#fields.hasErrors('cities')}"></p>
          </div>

          <div class="field">
            <label for="ingredients" class="label">Ingredients</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple id="ingredients" th:field="*{ingredients}">
                  <option th:each="ingredient : ${_ingredients}"
                          th:text="${ingredient.name}"
                          th:value="${ingredient.id}">
                  </option>
                </select>
              </div>
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{ingredients}"
               th:if="${#fields.hasErrors('ingredients')}"></p>
          </div>

          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

</html>


<script>

  const checkMultiSelect = (selectElement, nullOptionElement) => {
    // valore di default uguale a None se nessun opzione è selezionata
    if (Array.from(selectElement.selectedOptions).length === 0) {
      nullOptionElement.value = ""
      nullOptionElement.selected = true
      nullOptionElement.disabled = false
    } // disabilito il valore di None se ci sono altri elementi selezionati diversi da None
    else if (Array.from(selectElement.selectedOptions).length > 0 && !nullOptionElement.selected) {
      nullOptionElement.value = ""
      nullOptionElement.disabled = true
      nullOptionElement.selected = false
    }

    selectElement.addEventListener('change', e => {
      let current_options = Array.from(selectElement.selectedOptions)

      // se viene selezionato un valore diverso da None allora disabilito e deseleziono None
      if (current_options.length > 0 && !nullOptionElement.selected) {
        nullOptionElement.disabled = true
        nullOptionElement.selected = false
      } // se non ci sono valori selezionati abilito e seleziono None
      else if (current_options.length === 0 && !nullOptionElement.selected) {
        nullOptionElement.disabled = false
        nullOptionElement.selected = true
      } // se None è selezionato e abilitato ed altri elementi vengono selezionati disabilito e deseleziono None
      else if (current_options.length >= 1 && nullOptionElement.selected) {
        nullOptionElement.disabled = true
        nullOptionElement.selected = false
      }
    })
  }

  const cities = document.getElementById("cities")
  const citiesNullOption = document.getElementById("cities-null-option")

  checkMultiSelect(cities, citiesNullOption)

</script>