<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="control btn-back">
          <a th:href="${'/ingredients'}">
            <button class="button is-light">Back</button>
          </a>
        </div>
        <form action="/ingredients/save" method="post" th:object="${ingredient}">
          <input type="hidden" th:field="*{id}">

          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
              <input class="input" id="name" th:field="*{name}" type="text"
                     placeholder="Ingredient name">
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

          <div class="field">
            <label for="description" class="label">Description</label>
            <div class="control">
              <textarea
                  id="description"
                  class="textarea"
                  placeholder="Ingredient description"
                  th:field="*{description}">
              </textarea>
            </div>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{description}"
               th:if="${#fields.hasErrors('description')}"></p>
          </div>

          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

</html>