<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">

    <div class="control btn-back">
      <a th:href="${'/drinks'}">
        <button class="button is-light">Back</button>
      </a>
    </div>

    <h2>Drink</h2>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Alcoholic</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${drink.id}"></td>
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.description}"></td>
        <td th:text="${drink.alcoholic}"></td>
      </tr>
      </tbody>
    </table>

    <h2>Cities</h2>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Region</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="city : ${cities}">
        <tr>
          <td th:text="${city.id}"></td>
          <td th:text="${city.name}"></td>
          <td th:text="${city.region}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>

    <h2>Ingredients</h2>
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="ingredient : ${ingredients}">
        <tr>
          <td th:text="${ingredient.id}"></td>
          <td th:text="${ingredient.name}"></td>
          <td th:text="${ingredient.description}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>

  </section>
</div>

</html>
