<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column">
        <form action="drinks" method="get">
          <fieldset>
            <legend>Search Alcoholics By Region</legend>
            <br>
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                <input class="input" name="region" th:value="${region}" type="text">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-danger">Search</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="column">
        <a th:href="@{'/drinks/add'}">
          <button class="button is-pulled-right is-primary">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Add</span>
          </button>
        </a>
      </div>
    </div>

    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th class="col-name">Name</th>
        <th>Description</th>
        <th>Alcoholic</th>
        <th>Variants</th>
        <th class="col-actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="drink : ${drinks}">
        <tr>
          <td th:text="${drink.id}"></td>
          <td th:text="${drink.name}"></td>
          <td th:text="${drink.description}"></td>
          <td th:text="${drink.alcoholic}"></td>
          <td th:text="${#strings.listJoin(drink.variants.![name], ', ')}">
          <td>
            <a th:href="@{'/drinks/details/' + ${drink.id}}">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
            </a>
            <a th:href="@{'/drinks/edit/' + ${drink.id}}">
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
            </a>
            <a th:href="@{'/drinks/delete/' + ${drink.id}}">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </section>
</th:block>

</html>
