<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="control btn-back">
          <a th:href="${'/drinks'}">
            <button class="button is-light">Back</button>
          </a>
        </div>
        <form action="/drinks/save" method="post" th:object="${drink}">
          <input type="hidden" th:field="*{id}">

          <div class="field">
            <label for="text" class="label">Name</label>
            <div class="control">
              <input id="text" class="input" th:field="*{name}" type="text"
                     placeholder="Drink name">
            </div>
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               th:errorClass="help"
               class="is-danger help"></p>
          </div>

          <div class="field">
            <label for="description" class="label">Description</label>
            <div class="control">
              <textarea
                  id="description"
                  class="textarea"
                  th:field="*{description}"
                  placeholder="Drink description">
              </textarea>
            </div>
            <p th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"
               th:errorClass="help"
               class="is-danger help"></p>
          </div>

          <div class="field">
            <label class="label">Alcoholic</label>
            <div class="control">
              <label class="radio">
                <input type="radio" th:field="*{alcoholic}" value="true" name="option1">
                Yes
              </label>
              <label class="radio">
                <input type="radio" th:field="*{alcoholic}" value="false" name="option1">
                No
              </label>
            </div>
          </div>

          <div class="field">
            <label for="original" class="label">Variant Of</label>
            <div class="control">
              <div class="select">
                <select id="original" th:field="*{original}">
                  <option selected th:value="null">None</option>
                  <option th:each="drink : ${drinks}"
                          th:value="${drink.id}"
                          th:text="${drink.name}">
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="cities" class="label">Cities</label>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{cities}"
               th:if="${#fields.hasErrors('cities')}"></p>
            <div class="control">
              <div class="select is-multiple">
                <select id="cities" multiple th:field="*{cities}">
                  <option th:each="city : ${_cities}"
                          th:text="${city.name}"
                          th:value="${city.id}">
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="ingredients" class="label">Ingredients</label>
            <p class="is-danger help"
               th:errorClass="help"
               th:errors="*{ingredients}"
               th:if="${#fields.hasErrors('ingredients')}"></p>
            <div class="control">
              <div class="select is-multiple">
                <select id="ingredients" multiple th:field="*{ingredients}">
                  <option th:each="ingredient : ${_ingredients}"
                          th:text="${ingredient.name}"
                          th:value="${ingredient.id}">
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

</html>