<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
      <a class="navbar-item brand is-size-4 has-text-weight-bold has-text-dark" href="/">
        <img th:src="@{/logo.png}"/>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item"
           th:classappend="${#request.getServletPath().startsWith('/foods') ? 'is-active' : ''}"
           th:href="@{/foods}">
          Foods
        </a>
        <a class="navbar-item"
           th:classappend="${#request.getServletPath().startsWith('/drinks') ? 'is-active' : ''}"
           th:href="@{/drinks}">
          Drinks
        </a>
        <a class="navbar-item"
           th:classappend="${#request.getServletPath().startsWith('/ingredients') ? 'is-active' : ''}"
           th:href="@{/ingredients}">
          Ingredients
        </a>
        <a class="navbar-item"
           th:classappend="${#request.getServletPath().startsWith('/cities') ? 'is-active' : ''}"
           th:href="@{/cities}">
          Cities
        </a>
      </div>
    </div>

  </nav>
</div>
